body{
    background-color: papayawhip;
    width: 100%;
    height: 100%;
    margin: 0;
}

header nav{
    display: grid;
    width: 100%;
    height: 35px;
    margin: 0;
    background-color: rgb(254, 221, 168);
    grid-template-columns: 1fr 6fr 2fr;
    grid-template-rows: auto;
}

.nav-container-options{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.nav-container-options img{
    width: 60%;
    height: 60%;
    overflow: hidden;
}

.nav-container-connect{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    display: flex;
    width: 90%;
    height: 90%;
    font-family: "Roboto Mono", monospace;
    align-items: center;
    align-content: center;
    justify-content: center;
}

main h1{
    text-align: center;
    font-family: "Roboto Mono", monospace;
}

main .principal-container{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 5px;
    grid-template-areas: 
        "reward reward reward gap credit credit credit"
        "a1 a2 a3 a4 a5 a6 a7"
        "b1 back points points points back b2"
        "c1 strwb strwb strwb strwb strwb c2"
        "d1 back points points points back d2"
        "e1 back back back back back e2"
        "f1 doble doble back doble doble f2"
        "g1 g2 g3 g4 g5 g6 g7"
}